@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700;900&display=swap');

/* --------------------- */
/* GENERAL STYLING */
/* --------------------- */
* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	font-family: 'Roboto', Arial, sans-serif;
	font-weight: 400;
	text-align: center;
	text-decoration: none;
}

body {
  background: #fff;
  color: #000;
  min-height: 100dvh;
  font-size: 1.125rem;
}

h2, h3 {
  font-size: 1.875rem;
  font-weight: 600;
}

.wrapper {
    min-height: 100dvh;
    display: grid;
    grid-template-rows: auto 1fr auto;
}

a {
  color: inherit;
}

/* --------------------- */
/* HEADER */
/* --------------------- */
.site-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  background-color: #000;
  color: #fff;
  flex-wrap: wrap;
}

.header-left .logo {
  height: 60px;
}

.header-left {
  display: flex;
  flex-direction: column;
}

.tagline {
  font-size: 0.75rem; 
  color: #ccc;
  margin: 4px 0 0 0;
  font-weight: 400;
  line-height: 1.2;
}


.header-center {
  flex: 1;
  text-align: center;
  padding: 0 1rem;
}

/* Free Shipping Bar */
.free-shipping-bar {
  width: 100%;
  background-color: #fff;
  color: #000;
  text-align: center;
  font-family: 'League Spartan', sans-serif;
  font-weight: bold;
  font-size: 16px;
  padding: 8px 0;
  z-index: 9999;
  position: sticky;
  top: 0;
}

.hero-message {
  font-size: 1.375rem;
  font-weight: 500;
  letter-spacing: 1px;
}

.hero-message-mobile {
  display: none;
}

.header-right ul {
  list-style: none;
  display: flex;
  gap: 1.5rem;
  margin: 0;
  padding: 0;
}

.header-right li a {
  color: #fff;
  font-weight: 500;
  transition: color 0.3s ease;
}

.header-right li a:hover {
  color: #f39c12;
}

/* active class for header */

.main-nav a.active {
  pointer-events: none;
  color: #ff6600;
  cursor: default;
}

/* buttons */


.arrow::before {
  content: '';
  display: block;
  width: 12px;
  height: 12px;
  border-top: 3px solid #000;
  border-right: 3px solid #000;
  transform: rotate(45deg);
  margin: 0 auto;
}

.arrow.left::before {
  transform: rotate(-135deg);
}

.arrow.right::before {
  transform: rotate(45deg);
}

.pre-btn, .nxt-btn {
    border: none;
    width: 10vw;
    height: 100%;
    position: absolute;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(90deg, rgba(255, 255, 255, 0)0%, #fff 100%);
    cursor: pointer;
    z-index: 9;
}

.pre-btn {
    left: 0;
}

.nxt-btn {
    right: 0;
}

.pre-btn img, .nxt-btn img {
    opacity: .2;
}


/* slider */

.slider-wrapper {
  background-image:
    linear-gradient(to right, #f0f0f0 1px, transparent 1px),
    linear-gradient(to bottom, #f0f0f0 1px, transparent 1px);
  background-size: 20px 20px;
  padding: 2rem;
}

.slider {
 width: 100%;
  max-width: 625px;
  aspect-ratio: 1 / 1;
  overflow: hidden;
  position: relative;
  margin: 0 auto;
 box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
 border-radius: 10px;

}

.slides {
  display: flex;
  transition: transform 0.6s ease;
  width: 100%;
}

.slides picture {
  flex-shrink: 0;
  width: 100%;
  height: 100%;
}

.slides img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  flex-shrink: 0;
  image-rendering: auto; 
  -webkit-transform: translateZ(0);
}

.prev, .next {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: rgba(0,0,0,0.5);
  color: #fff;
  border: none;
  font-size: 24px;
  cursor: pointer;
  padding: 6px 10px;
  z-index: 10;
}

.prev { left: 10px; }
.next { right: 10px; }


/* shop now button */

.shop-btn-container {
  text-align: center;
}

.about-page-main .shop-btn-container {
  max-width: 900px;
  margin: 0 auto;
}

.shop-now-btn {
  display: inline-block;
  background: #CC4000;
  color: #fff;
  text-transform: uppercase;
  font-weight: 600;
  padding: 12px 28px;
  border-radius: 6px;
  letter-spacing: 1px;
  text-decoration: none;
  transition: background 0.3s ease, transform 0.2s ease;
  margin: 2rem 0;
  font-size: 1.25rem;
}


.about-page-main .shop-now-btn {
  width: 100%;
  padding: 30px;
  margin: 2rem 0;
}


.shop-now-btn:hover {
  background: #993300;
  transform: scale(1.05);
}

.shop-now-bottom {
  text-align: center;
  margin: 0 0 1rem 0;
}

/* secondary shop now collection */
.btn--secondary {
  display: inline-block;
  background-color: #CC4000;
  color: #fff;
  font-weight: 600;
  padding: 0.9rem 2rem;
  border-radius: 30px;
  text-transform: uppercase;
  letter-spacing: 0.5px;
  transition: background 0.3s ease, transform 0.2s ease;
}

.btn--secondary:hover {
  background-color: #993300;
  transform: translateY(-2px);
}



/* Masonry Collage */

.lookbook__grid {
  column-count: 3;
  column-gap: 1rem;      
  max-width: 1200px;
  margin: 0 auto 1rem auto;
  padding: 0 1rem;
}

.lookbook__title {
  margin: 1rem 0;
  letter-spacing: 2px;
}

h3.lookbook__title {
  color: #444;
}

.lookbook__grid img {
  width: 100%;
  border-radius: 10px;
  object-fit: cover;
  display: block;
  transition: transform 0.3s ease, opacity 0.3s ease;
  position: absolute;
  top: 0;
}

.lookbook__grid figure {
  margin-bottom: 1rem;
  position: relative;
}

.group-shot {
  padding-top: calc(1055 / 860 * 100%);
}

.beanie-shot, .collage-shot, .denim-shot, .model-shot {
   padding-top: calc(641 / 1140 * 100%);
}

.skates-shot {
  padding-top: calc(1140 / 760 * 100%);
}

.tradeshow-shot {
  padding-top: calc(766 / 1140 * 100%);
}

.alex-jen {
  padding-top: calc(1140 / 760 * 100%);
}

/* about page */

.about-story {
  padding: 1rem 1rem;
  max-width: 900px;
  margin: 0 auto;
  padding-bottom: 0;
}

.about-story h2 {
  margin-bottom: 1rem;
  letter-spacing: 1px;
  color: #333;
}

.story-container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.story-text {
  flex: 1 1 auto;
  line-height: 1.6;
  color: #555;
}

.story-text p {
  text-align: left;
}

.story-images {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 1rem 0 0 0;
  flex-direction: column;
}

.story-image {
  flex: 1 1 auto;
  text-align: center;
  margin-bottom: 1.2rem;
}

.story-image img {
  width: 100%;
  height: auto;
  border-radius: 10px;
  box-shadow: 0 6px 12px rgba(0,0,0,0.2);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.story-image figcaption {
  margin-top: 0.5rem;
  font-size: 0.9rem;
  color: #555;
  text-align: left;
}

.caption-location {
  font-style: italic;
  font-size: 0.85rem;
  color: #555;
  display: block;
  text-align: left;
}

/* contact page */

.contact-left-title h2 {
  font-weight: 600;
  margin-bottom: 5px;
}

.contact-inputs {
  width: 400px;
  height: 50px;
  border: 2px solid #7373b3;
  outline: none;
  font-weight: 500;
  color: #666;
  border-radius: 50px;
  font-size: 1.2rem;
}

.contact-left textarea {
  height: 140px;
  padding-top: 15px;
  border-radius: 20px;
}

.contact-inputs:focus {
  border: 2px solid #CC4000;
}


/* form */

.contact-container {
  display: flex;
  margin: 1rem 0;
  justify-content: space-evenly;
}

.contact-left {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.contact-inputs::placeholder {
  color: #a9a9a9;
}

.contact-left button {
  display: flex;
  align-items: center;
  padding: 15px 30px;
  font-size: 1.25rem;
  font-weight: 600;
  letter-spacing: 2px;
  color: #fff;
  gap: 10px;
  border: none;
  border-radius: 50px;
  background:#CC4000;
}

.contact-left button:hover {
  background: #993300;
  cursor: pointer;
}

.contact-left button img {
  height: 15px;
}

.contact-right img {
  width: 500px;
}

.email-form {
  position: relative;
}

.email-form .success-message {
  color: #fff;
}

.success-message {
    display: none;
    color: green;
    font-weight: bold;
    margin-top: 10px;
    transform: scale(1);
}



@keyframes popFade {
    0% {
        opacity: 0;
        transform: scale(1);
    }
    10% {
        opacity: 1;
        transform: scale(1.3); /* pop up */
    }
    30% {
        transform: scale(1); /* shrink back */
    }
    100% {
        opacity: 0; /* fade out */
        transform: scale(1);
    }
}

.success-message.show {
    display: block;
    animation: popFade 2.5s forwards;
}

.email-form .success-message.show {
    position: absolute;
    top: 53px;
}

/* --------------------- */
/* FOOTER */
/* --------------------- */
.site-footer {
  background-color: #000;
  color: #fff;
  text-align: center;
  padding: 1.5rem 2rem;
  font-size: 0.9rem;
}

.site-footer .footer-graphic {
  max-width: 1200px;
  margin: 0 auto 1rem;
}

.site-footer .footer-graphic img {
  display: block;
  height: auto;
  max-width: 100%;
}


.site-footer p {
  line-height: 1.5;
}

/* Email Banner */

.email-banner {
  background-color: #260326;
  color: #fff;
  text-align: center;
  padding: 3rem 1rem;
}

.email-banner h2 {
  letter-spacing: 1px;
  margin-bottom: 1.5rem;
  text-transform: uppercase;
}

.email-form {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 1.5rem;
}

.email-form input[type="email"] {
  padding: 0.8rem 1rem;
  font-size: 1rem;
  border: none;
  border-radius: 4px;
  width: 280px;
  max-width: 90%;
}

.email-form button {
  background-color: #e60023;
  color: #fff;
  font-size: 1rem;
  padding: 0.8rem 1.5rem;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  text-transform: uppercase;
  transition: background-color 0.2s ease-in-out;
}

.email-form button:hover {
  background-color: #c4001c;
}


.seo-text, .about-text {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #c0e0e8;
  padding: 3rem 1rem;
}

.site-header.about {
  margin-bottom: 2rem;
}

.about-text {
  max-width: 900px;
  margin: 0 auto;
  border-radius: 6px;
}

.seo-text p {
  width: 80%;
  max-width: 800px;
  line-height: 1.6;
  color: #333;
  text-align: left;
}

.about-text p {
  text-align: center;
  line-height: 1.5;
}



/* --------------------- */
/* RESPONSIVE */
/* --------------------- */

@media (max-width: 900px) {
  .lookbook__grid {
    column-count: 2;
  }
  
  .about-text p {
    width: auto;
  }
}


@media (max-width: 768px) {
  .site-header {
    flex-direction: column;
    text-align: center;
    position: sticky;
    top: 0;
    z-index: 1000;
    transition: all 0.3s ease;
  }

  .site-header.scrolled .logo {
    height: 40px;
    transition: height 0.3s ease;
  }

  .site-header.scrolled {
    background-color: rgba(40, 0, 60, 0.85);
  box-shadow: 0 2px 6px rgba(0,0,0,0.4);
  padding: .5rem 2rem;
}

  .site-header.scrolled .tagline {
    display: none;
    transition: opacity 0.3s ease;
  }

  .slider-wrapper {
    padding: 0 1rem;
  }

  .header-center {
    display: none;
  }

  .header-right {
    position: relative;
    top: 3px;
  }

  .tagline {
        margin: 0 0 7px 0;
  }

  .lookbook__grid figure:last-child {
    margin-bottom: 0;
  }

  .header-right ul {
    flex-direction: row; /* make links horizontal */
    justify-content: center; /* center links */
    gap: 1rem; /* space between links */
    width: 100%; /* take full width */
  }

  .hero-message-mobile {
    display: block; /* show on mobile */
    text-align: center;
    margin: 1rem auto;
    font-size: 1rem;
    max-width: 90%;
  }

  .slider-wrapper {
    background:none;
  }

  .contact-inputs {
    width: 80vw;
  }

  .contact-right {
    display: none;
  }

  .email-banner {
    padding: 2rem 1rem;
  }

  .email-banner h2 {
    font-size: 1.2rem;
  }

  .site-footer {
    font-size: 0.7rem;
    padding: 1rem 2rem;
  }

 .email-form .success-message.show {
    top: 117px;
  }

  .about-text {
      width: 90%;
  }

  .about-text p {
  text-align: left;
}

.about-page-main .shop-now-btn {
  width: 90%;
  }

}

@media (max-width: 600px) {
  .lookbook__grid {
    column-count: 1;
  }

  body {
    font-size: 1rem;
  }
  h2, h3 {
    font-size: 1.625rem;
  }
}


@media (min-width: 769px) {
  .prev:hover,
  .next:hover {
    background-color: #95adc6; /* soft blue-gray */
  }

  .shop-now-bottom {
    display: none;
  }
}
