@import url('https://fonts.googleapis.com/css?family=Sawarabi+Gothic&display=swap');


* {
	box-sizing:border-box;
	margin: 0;
	padding: 0;
	font-family: 'Sawarabi Gothic', sans-serif;
	font-weight: 400;
	text-align: center;
	color:#fff;
	text-decoration: none;
}

html, body {
	height: 100%;
	min-height: 100%;
	
}

body {
	background: url(stay_up_clothing.jpg) no-repeat center center fixed;
	background-size: cover;
	display: -webkit-box;  
	display: -ms-flexbox;  
	display: -webkit-flex;
	display: flex;
	flex-direction:column;
	letter-spacing: .05em;
}


body::after {
	content: "";
	background:#000;
	opacity: 0.6;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	position: absolute;
	z-index: -1;  
	min-height: 100%; 
	
}

header {
	min-height: 75px;
	background: rgba(0, 0, 0, .8);
	display: -webkit-box;  
	display: -ms-flexbox;  
	display: -webkit-flex;
	display: flex;
	justify-content: space-between;
	align-items: center;
	position: fixed;
    top: 0;
    width: 100%;
}

header ul {
	display: -webkit-box;  
	display: -ms-flexbox;  
	display: -webkit-flex;
	display: flex;
	list-style-type: none;
	align-items: center;
	margin-right: 30px;

}

header ul li {

	margin-right: 16px;
}

header li a:hover {
	text-decoration: underline;
}


.logo {
	display:block;
	
}

.logo img, .mobile_logo img {
    max-width: 100%;
    height: auto;
    max-height:52px;
    transform: rotate(1deg);
}

.mobile_logo {
	display: none;
}

.logo, .mobile_logo {
	margin-left: 30px;
	padding: 4px 0 10px 0;
}

.logo p, .mobile_logo p {
	font-size: 9px;

}

main {
	display: -webkit-box;  
	display: -ms-flexbox;  
	display: -webkit-flex;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-grow:1;
	
}

h1 {
	width: 56%;
	font-size: 32px;

}

footer {
	background: rgba(0, 0, 0, .8);
	min-height: 67px;
	display: -webkit-box;  
	display: -ms-flexbox;  
	display: -webkit-flex;
	display: flex;
	flex-direction: column;
	justify-content: center;
}



footer p {
	font-size: 11px;

}

.mobile_trademark, .mobile_menu_icon, .overlay  {
	display:none;
}
/*
 about us page*/

 .stay_up_article_body {
 	display: block;
 }

 .stay_up_article_body main {
 	justify-content:flex-start;
 }

.article {
	width:80%;
	display: -webkit-box;  
	display: -ms-flexbox;  
	display: -webkit-flex;
	display: flex;
	flex-direction: column;
	margin: 133px auto;
}

.article img {
	display: block;
    height: auto;
    max-width: 100%;
    flex-shrink:0;
  
}

/*body.make_scroll {
   height: 180%;
}

body.make_scroll:after {
   min-height: 180%;
}*/

.stay_up_article_body{
	background: url(stay_up_logo.jpg) no-repeat center center fixed;
}

.stay_up_article_body:after {
	background: none;
}



@media (max-width: 48em) {

	body {
		background: url(stay_up_clothing_alex_deleon.jpg) no-repeat center center fixed;
		background-size: cover;
		background-position-y: 74px;
        background-position-x: right;
	}

	h1 {
		font-size: 20px;
		width: 80%;
	}

	header, footer {
		background: #000;
	}

	header ul {
		display:none;
	}

	footer {
		min-height: 35px;
	}

	.logo {
    	display: none;
    }

    .mobile_logo {
    	display: block;
    }

    .mobile_logo img {
   /* float: left;*/
}

.mobile_logo p {
	clear:both;
}

	.desktop_trademark {
		display: none;
	}

	.mobile_menu_icon {
		display: inline-block;
		cursor: pointer;
		margin-right: 15px;
	}

	.mobile_menu_icon span {
		font-size: 12px;
	}

	.bar1, .bar2, .bar3 {
		width: 26px;
		height: 2px;
		background-color: #fff;
		margin: 6px auto;
		transition: 0.4s;
	}

	.change .bar1 {
		-webkit-transform: rotate(-45deg) translate(-3px, 3px);
		transform: rotate(-45deg) translate(-3px, 3px);
	}

	.change .bar2 {opacity: 0;}

	.change .bar3 {
		-webkit-transform: rotate(45deg) translate(-8px, -8px);
		transform: rotate(45deg) translate(-8px, -8px);
	}

	.mobile_trademark, .mobile_menu_icon, .overlay  {
		display:block;
	}


	.overlay {
		/* Height & width depends on how you want to reveal the overlay (see JS below) */   
		height: 0;
		width: 100%;
		position: fixed; /* Stay in place */
		z-index: 1; /* Sit on top */
		left: 0;
		top: 75px;
		background-color: rgb(0,0,0); /* Black fallback color */
		background-color: rgba(0,0,0, 0.8); /* Black w/opacity */
		overflow-y: hidden; /* Disable vertical scroll */
		transition: 0.5s; /* 0.5 second transition effect to slide in or slide down the overlay (height or width, depending on reveal) */
	}

	/* Position the content inside the overlay */
	.overlay-content {
		position: relative;
		top: 10%; /* 10% from the top */
		width: 100%; /* 100% width */
		text-align: center; /* Centered text/links */
		margin-top: 30px; /* 30px top margin to avoid conflict with the close button on smaller screens */
	}

	/*.overlay-content.raise-content {
		margin-top:0;
	}

	.overlay-content a.raise-content {
		display: inline-block;
		margin-right: 10px;
	}

	.overlay-content a:last-child.raise-content {
		margin-right: 0;
	}*/

	/* The navigation links inside the overlay */
	.overlay a {
		text-decoration: none;
		font-size:16px;
		display: block; /* Display block instead of inline */
		transition: 0.3s; /* Transition effects on hover (color) */
		padding-bottom: 3px;
	}

	/* When you mouse over the navigation links, change their color */
	.overlay a:hover, .overlay a:focus {
		text-decoration: underline;
	}


	.overlay.height {

		height: 100%;
	}


	/*article page*/

	.article {
		width: 100%;
		margin:89px auto 10px auto;
		
	}

	.stay_up_article_body {
		background:white;
	}
	
}


@media (max-height: 390px) {

     .overlay-content {
		margin-top:0;
	}

	.overlay-content a {
		display: inline-block;
		margin-right: 10px;
	}

	.overlay-content a:last-child {
		margin-right: 0;
	}


	body {
   height: 180%;
}

body:after {
   min-height: 180%;
}

main h1 {
	font-size: 20px;
}

	
}



@media (max-height: 163px) {
  body {
   height: 221%;
}

body:after {
   min-height: 221%;
}

}


@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
    /*IE10+ CSS here*/

    .mobile_logo, .logo, .mobile_menu_icon, header ul {
    	padding-top:5px;
    }


    .mobile_logo {
		margin-left:0;
		width:100%;
	}

	.mobile_logo img {
		float:none;
	}

    
   }